{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>Opintopisteet: {{opintopisteet}}</h1>
</br>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Arvosana</th>
            <th>Opintopisteet</th>
            <th>Suorituspäivä</th>
            <th>Kurssi</th>
            <th>Kurssisivu</th>
            <th>Toteutuksensivu</th>
        </tr>
    </thead>

    <tbody>
        {% for s in suoritukset %}
        <tr>
            <td>{{s.arvosana}}</td>
            <td>{{s.opintopisteet}}</td>
            <td>{{s.pvm}}</td>
            <td>{{s.kurssi}}</td>
            <td><a href="{{base_path}}/kurssi/show/{{s.kurssi_id}}" class="btn btn-default">Linkki</a></td>
            <td><a href="{{base_path}}/toteutus/show/{{s.tote_id}}" class="btn btn-default">Linkki</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}