{% extends "base.html" %}
{% block content %}
<h1>Lisää Suoritus</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<p>Kurssi: {{tote.nimi}}, periodi: {{tote.periodi}}</p>

<form method="post" action="{{base_path}}/kurssi">
    <div class="form-group">
        <label>Arvosana</label>
        <select class="form-control" name="arvosana">
            {% for suorittaja in suorittajat %}
            <option value="{{tote.arvosana}}">{{tote.arvosana}}</option>
            {% endfor %}
        </select>    
    </div>
    <div class="form-group">
        <label>Päivämäärä</label>
        <input name="opintopisteet" class="form-control" value="{{tote.pvm}}" type="text">
    </div>
    <div class="form-group">
        <label>Suorittaja</label>
        <select class="form-control" name="suorittaja">
            {% for suorittaja in suorittajat %}
            <option value="{{tote.suorittaja}}">{{tote.suorittaja}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää arviointi</button>
    </div>
</form>
{% endblock %}