{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{kurssi.nimi}}</h1>

<ul>
    <li><strong>Tunniste:</strong> {{kurssi.kurssi_id}}</li>
    <li><strong>Opintopisteet:</strong> {{kurssi.opintopisteet}}</li>
</ul>

<p>{{kurssi.kuvaus}}</p>

{% if is_teacher %}
<a href="{{base_path}}/kurssi/{{kurssi.kurssi_id}}/edit" class="btn btn-default">Muokkaa</a>
<form method="post" action="{{base_path}}/kurssi/{{kurssi.kurssi_id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
{% endif %}

{% endblock %}