{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h1>{{kurssi.nimi}}</h1>
</div>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<ul>
    <li><h4>Tunniste: {{kurssi.kurssi_id}}</h4></li>
    <li><h4>Opintopisteet: {{kurssi.opintopisteet}}</h4></li>
</ul>

<h3>{{kurssi.kuvaus}}</h3>
{% if is_teacher %}
<a href="{{base_path}}/kurssi/{{kurssi.kurssi_id}}/edit" class="btn btn-default">Muokkaa</a>
<form method="post" action="{{base_path}}/kurssi/{{kurssi.kurssi_id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
{% endif %}

{% endblock %}