{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Kurssini</h1>
</div>

<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>Periodi</th>
            <th>Nimi</th>
            <th>Opintopisteet</th>
            <th>Alkupvm</th>
            <th>Koepvm</th>
            <th>Kurssisivu</th>
        </tr>
    </thead>

    <tbody>
        {% for tote in toteutusjoin %}
        <tr>
            <td>{{tote.periodi}}</td>
            <td><a href="{{base_path}}/toteutus/show/{{tote.tote_id}}">{{tote.nimi}}</a></td>
            <td>{{tote.opintopisteet}}</td>
            <td>{{tote.alkupvm}}</td>
            <td>{{tote.koepvm}}</td>
            <td><a href="{{base_path}}/kurssi/show/{{tote.kurssi_id}}">Linkki</a></td>
            <td>
                <form method="post" action="{{base_path}}/suoritus/new" style="display: inline-block;">
                    <input name="toteutus" type="hidden" value="{{tote.tote_id}}">
                    <button type="submit" class="btn btn-default">Arvostele oppilaita</button>
                </form>
            </td>            
            <td><a href="{{base_path}}/toteutus/{{tote.tote_id}}/edit" class="btn btn-default">Muokkaa</a></td>
            <td>
                <form method="post" action="{{base_path}}/toteutus/{{tote.tote_id}}/destroy" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}
