{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{t.nimi}}</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Periodi</th>
            <th>Tunniste</th>
            <th>Opintopisteet</th>
            <th>Alkupvm</th>
            <th>Koepvm</th>
            <th>Vastuuopettaja</th>
            <th>Kurssisivu</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{tote.periodi}}</td>
            <td>{{tote.tote_id}}</td>
            <td>{{tote.opintopisteet}}</td>
            <td>{{tote.alkupvm}}</td>
            <td>{{tote.koepvm}}</td>
            <td>{{tote.opettaja}}</td>
            <td><a href="{{base_path}}/kurssi/show/{{tote.kurssi_id}}">Linkki</a></td>
        </tr>
    </tbody>
</table>

<p>{{tote.info}}</p>
</br>
{% if is_teacher %}
<a href="{{base_path}}/toteutus/{{tote.tote_id}}/edit" class="btn btn-default">Muokkaa</a>
<form method="post" action="{{base_path}}/toteutus/{{tote.tote_id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
{% endif %}
{% if is_student %}
<form method="post" action="{{base_path}}/toteutus/{{tote.tote_id}}/join" style="display: inline-block;">
    <button type="submit" class="btn btn-default">Ilmoittaudu kurssille</button>
</form>
{% endif %}

{% endblock %}