{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% if empty %}
</br>
<h1>Ei yhtään tulevaa kurssia</h1>
{% else %}
<h1>{{tote[0].nimi}}</h1>
<p><a href="{{base_path}}/kurssi/show/{{tote[0].kurssi_id}}" class="btn btn-default">Kurssisivu</a></p>


<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>Periodi</th>
            <th>Tunniste</th>
            <th>Opintopisteet</th>
            <th>Alkupvm</th>
            <th>Koepvm</th>
            <th>Vastuuopettaja</th>
        </tr>
    </thead>

    {% for t in tote %}
    <tbody>
        <tr>
            <td>{{t.periodi}}</td>
            <td>{{t.tote_id}}</td>
            <td>{{t.opintopisteet}}</td>
            <td>{{t.alkupvm}}</td>
            <td>{{t.koepvm}}</td>
            <td>{{t.opettaja}}</td>
            {% if is_student %}
            <td>
                <form method="post" action="{{base_path}}/ilmoittautuminen/enroll/{{t.tote_id}}">
                    <button type="submit" class="btn btn-default">Ilmoittaudu kurssille</button>
                </form>
            </td>
            {% endif %}
            {% if is_teacher %}
            <td>
                <a href="{{base_path}}/toteutus/{{t.tote_id}}/edit" class="btn btn-default">Muokkaa</a>
                <form method="post" action="{{base_path}}/toteutus/{{t.tote_id}}/destroy" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form>
            </td>
            {% endif %}
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endif %}

{% endblock %}