{% extends "base.html" %}

{% block content %}
<div class="page-header">
    {% if is_teacher %}
    <h1>Tulevat kurssit</h1>
    {% else %}
    <h1>Ilmoittaudu kurssille</h1>
    {% endif %}
</div>
{% if is_teacher %}
<p><a class="btn btn-default btn-sm" href="{{base_path}}/toteutus/new">Lisää uusi toteutus</a></p>
{% endif %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Periodi</th>
            <th>Nimi</th>
            <th>Opintopisteet</th>
            <th>Alkupvm</th>
            <th>Koepvm</th>
            <th>Vastuuopettaja</th>
            <th>Kurssisivu</th>
        </tr>
    </thead>

    <tbody>
        {% for tote in toteutusjoin %}
        <tr>
            <td>{{tote.periodi}}</td>
            <td><a href="{{base_path}}/toteutus/show/{{tote.tote_id}}">{{tote.nimi}}</a></td>
            <td>{{tote.opintopisteet}}</td>
            <td>{{tote.alkupvm}}</td>
            <td>{{tote.koepvm}}</td>
            <td>{{tote.opettaja}}</td>
            <td><a href="{{base_path}}/kurssi/show/{{tote.kurssi_id}}" class="btn btn-default">Linkki</a></td>
            {% if user_logged_in %}
            {% if is_teacher %}
            <td><a href="{{base_path}}/toteutus/{{tote.tote_id}}/edit" class="btn btn-default">Muokkaa</a></td>
            <td><form method="post" action="{{base_path}}/toteutus/{{tote.tote_id}}/destroy" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form></td>
            {% endif %}
            {% if is_student %}
            <th>
                <form method="post" action="{{base_path}}/ilmoittautuminen/enroll/{{tote.tote_id}}">
                    <button type="submit" class="btn btn-default">Ilmoittaudu kurssille</button>
                </form>
            </th>
            {% endif %}

            {% endif %}
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}
