{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Ilmoittaudu kurssille</h1>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Periodi</th>
            <th>Nimi</th>
            <th>Tunniste</th>
            <th>Opintopisteet</th>
            <th>Alkupvm</th>
            <th>Koepvm</th>
            <th>Vastuuopettaja</th>
            <th>Kurssisivu</th>
        </tr>
    </thead>

    <tbody>
        {% for tote in toteutusjoin %}
        <tr>
            <td>{{tote.periodi}}</td>
            <td><a href="{{base_path}}/toteutus/show/{{tote.kurssi_id}}">{{tote.nimi}}</a></td>
            <td>{{tote.tote_id}}</td>
            <td>{{tote.opintopisteet}}</td>
            <td>{{tote.alkupvm}}</td>
            <td>{{tote.koepvm}}</td>
            <td>{{tote.opettaja}}</td>
            <td><a href="{{base_path}}/kurssi/show/{{tote.kurssi_id}}">Linkki</a></td>
            {% if user_logged_in %}
            {% if is_teacher %}
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/edit">Muokkaa</a></th>
            {% endif %}
            {% if is_student %}
            <th><a href="" class="btn btn-default">Ilmoittaudu kurssille</a></th>
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}
