{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>Kaikki käyttäjät</h1>
</div>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>Username</th>    
            <th>Id</th>
            <th>Opettaja</th>
        </tr>
    </thead>
    {% for user in users %}
    <tbody>
        <tr>
            <td>{{user.username}}</td>
            <td>{{user.id}}</td>
            <td>{{user.teacher}}</td>
            <th><form method="post" action="{{base_path}}/user/{{user.id}}/destroy" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form></th>
        </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}