{% extends "base.html" %}
{% block content %}
  <h1>Linis</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="{{base_path}}/edit" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Tunniste:</strong> 432987</li>
    <li><strong>Opintopisteet:</strong> 5</li>
    <li><strong>Opettaja:</strong> Matti Möttönen</li>
    <li><strong>Status:</strong> <label class="label label-danger">kesken</label></li>
    <li><strong>Jakso:</strong> 3</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices nisl enim, cursus vehicula lacus vestibulum in. Mauris nunc lacus, auctor at mauris in, tincidunt hendrerit arcu. Fusce vel sapien nec orci venenatis vehicula in quis est. Aliquam gravida erat sed purus porta, id vulputate metus tempor. Maecenas vulputate nisi ac ipsum rutrum semper a vitae ex. Ut lorem sapien, tincidunt a sollicitudin id, convallis et augue. Mauris bibendum euismod augue a finibus. Nam eu suscipit ex, et tristique diam. In in risus vitae erat euismod auctor nec accumsan velit. Integer convallis massa id tincidunt pharetra. Curabitur eget rutrum leo, ut imperdiet arcu. Nam risus lacus, gravida aliquam pellentesque nec, convallis sed enim. 
  </p>
{% endblock %}